# Github
export GITHUB_TOKEN=""

# Node environment
export NODE_ENV=""

#  Postgres database environment
export POSTGRES_USER=""
export POSTGRES_PASSWORD=""
export POSTGRES_DATABASE=""
export POSTGRES_HOST=""
export POSTGRES_PORT=""
